<%- include ("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs/<%= damnedBlog._id %>?_method=put" method="post">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= damnedBlog.title %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= damnedBlog.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" cols="30" rows="10"><%= damnedBlog.body %></textarea>
        </div>        
        <input class="ui black basic button" type="submit">
    </form>
</div>

<%- include ("partials/footer") %>