<%- include ("partials/header") %>

<h1>Index route</h1>

<% allBlogs.forEach((blog)=>{ %>
    <h1><%= blog.title %></h1>
    <img src="<%= blog.image %>">
    <span><%= blog.created %></span>
    <p><%= blog.body.substring(0, 100) %>...</p>
    <a href="/blogs/<%= blog._id %>">Read More</a>
<% }) %>

<%- include("partials/footer") %>