<%- include ("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= chosenBlog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= chosenBlog.image %>" >
            <div class="content">
                <span><%= chosenBlog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- chosenBlog.body %></p>
            </div>
            <hr>
            <form action="/blogs/<%= chosenBlog._id %>?_method=delete" method="post">
                <button class="ui red basic button">DELETE</button>
            </form>
            <span><a href="/blogs/<%= chosenBlog._id %>/edit"><button class="ui blue basic button">UPDATE</button></a> </span>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>